.temperature{
  color:#542C22;
  font-size: 2em;
  margin: 0;

}
.humidity{
  color:#153E5C;
  font-size: 1.8em;
  margin: 0;
}
.iconOfTheDay{
  width:200px;
}
.date{
  color: green;
}
.weatherInformation{
  display: flex;
  justify-content: center;
  margin: 0;
  
}
.weatherInformationIcon{
  display: flex;
  flex-direction: column;
  /* font-size: 2em; */
  margin: 0;
}
.weatherInformationNumber{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1em 1em 1em;

}
.time{
  font-size: 3em;
  margin: 0;
}
.wind{
  margin: 0;
  font-size: 1em;
}
.cityName{
  font-size: 3.4em;
}
.backgroundDay{
  width: 40%;
  background-color:#3278A4;
  border-radius: 15px;
  margin:auto;
 }
 .north{
   display: block;
   text-align: center;
 }
 .windDirection{
   margin: auto;
   justify-content: center;
 }
 .hourData{
  color: #153E5C;
 }
